:host {
  flex: 2;
  .graph-container {
    height: 100%;

    background: #1c2029;
    position: relative;

    background: -moz-radial-gradient(#2b3240 15%, transparent 16%),
      -moz-radial-gradient(#2b3240 15%, transparent 16%), #1c2029;
    background: -webkit-radial-gradient(#2b3240 15%, transparent 16%),
      -webkit-radial-gradient(#2b3240 15%, transparent 16%), #1c2029;
    background-position: 0 0, 10px 10px;
    background-size: 5px 5px;

    button {
      margin: 8px;
    }
  }
  svg.ngx-charts {
    width: 100%;
    height: 100%;
  }

  .node-content {
    background-color: white;
    color: #2b3240;
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;

    .node-radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      align-items: flex-start;
      gap: 8px;
      font-size: 1rem;
    }
  }
}
